<html lang="en">
	<head>
		<title>allerfree</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">

		<link rel="shortcut icon" href="url_for(/static/images/favicon.ico')" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
	</head>
	<body>
		 <!-- Navigation bar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    	<li><a href="/">LOG IN</a></li>
                    	<li><a href="#">REGISTER</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="header">
        	<h1><b> Personalized food allergy detection, made with you in mind. </b></h1>
        </div>
        <div class="form">
        	<ul>
                {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        	<form class="loginform" action="" method="POST" name="login">
                {{ form.hidden_tag() }}
                <p>
	                <b>Email*</b>: <br /> 
	                {{ form.email(size=40) }}
                </p>
                <p>
                    <b>Password*</b>: <br />
                    {{ form.password(size=40) }}
                </p>
                <p class="required_field_note">* = required fields</p>
                    <button type="submit" class="btn btn-primary">Log In</button>
			</form>
			<p>Don't have an account? Register <a href="#">here</a>!</p>
        </div>
	</body>
</html>